<IfModule mod_rewrite.c>
    RewriteEngine On
    # TODO: include rewrite rules for contact login and contact search
    RewriteRule users/contacts contacts.php
    RewriteRule signup user/signup.php
</IfModule>