/*Code written by Adam Betinsky, heavily edited by Benjamin Quintero*/
html {
  min-height: 100%;

  background-image: url("../images/background/hec-conf-room.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(0,0,0,0.4);
  background-blend-mode: darken;
  background-repeat: no-repeat;
}

body {
  font-family: Arial, sans-serif;

  min-height: 100vh;
  max-width: 1500px;

  margin: 100px auto 40px;
  padding: 0 20px;
  
  color: white;
  background: transparent;
}

main {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.info-title{
  justify-content: center;
  font-size: 3em;
}

.info{
  background: rgba(255, 255, 255, 0.18);
  -webkit-backdrop-filter: blur(18px);
  backdrop-filter: blur(18px);

  font-size: 1.2em;

  border: 1px solid rgba(255, 255, 255, 0.35);
  padding: 18px;
  border-radius: 10px;
  margin-bottom: 18px;
}


.dev-intro{
  font-size: 1.2em;
}

.card {
  min-width: 700px;
  max-width: 1000px;

  background: rgba(255, 255, 255, 0.18);
  -webkit-backdrop-filter: blur(18px);
  backdrop-filter: blur(18px);

  display: flex;
  flex-direction: row;

  border: 1px solid rgba(255, 255, 255, 0.35);
  padding: 18px;
  border-radius: 20px;
  margin-bottom: 18px;
}

.card-img{
    max-width: auto;
    max-height: 250px;

    padding: 10px;
    border-radius: 20px;
}

.card-text{
  display: flex;
  flex-direction: column;
}


/*Add header at the end, don't worry about this now.*/