/*Code written by Adam Betinsky, heavily edited by Benjamin Quintero*/
html {
  min-height: 100%;

  background-image: url("../images/background/hec-conf-room.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgba(0,0,0,0.4);
  background-blend-mode: darken;
  background-repeat: no-repeat;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;

  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);

  z-index: 99;
}

.logo {
  font-size: 2em;
  color: rgb(255, 255, 255);
  -webkit-user-select: none;
  user-select: none;
}

.clock {
  position: absolute;
  left: 49%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 500;
  margin-left: 15px;
  margin-right: 45px;
}

.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease;
}

.navigation a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

body {
  font-family: Arial, sans-serif;

  min-height: 100vh;
  max-width: 1500px;

  margin: 100px auto 40px;
  padding: 0 20px;
  
  color: white;
  background: transparent;
}

body::-webkit-scrollbar{
  display: none;
}

main {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.info-title{
  justify-content: center;
  font-size: 3em;
}

.info{
  background: rgba(255, 255, 255, 0.18);
  -webkit-backdrop-filter: blur(18px);
  backdrop-filter: blur(18px);

  font-size: 1.2em;

  border: 1px solid rgba(255, 255, 255, 0.35);
  padding: 18px;
  border-radius: 10px;
  margin-bottom: 18px;
}


.dev-intro{
  font-size: 1.2em;
}

.card {
  width:1200px;

  background: rgba(255, 255, 255, 0.18);
  -webkit-backdrop-filter: blur(18px);
  backdrop-filter: blur(18px);

  display: flex;
  flex-direction: row;

  border: 1px solid rgba(255, 255, 255, 0.35);
  padding: 18px;
  border-radius: 20px;
  margin-bottom: 18px;
}

.card-img{
    max-width: auto;
    height: 300px;

    padding: 25px;
    border-radius: 20px;
}

.card-text{
  display: flex;
  flex-direction: column;
  padding: 5px;
}


/*Add header at the end, don't worry about this now.*/