@import url("https://fonts.googleapis.com/css?family=Poppins");

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;

    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);

    z-index: 99;
}

.logo {
    font-size: 2em;
    color: black;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-right: 100px;
}

.navigation a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: black;
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease;
}

.navigation a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}


/* ================= start-main ================= */


body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.header {
    background: #1e293b;
    color: white;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
}

.controls,
.add-contact,
.contact-list {
    padding: 20px;
}

input {
    padding: 8px;
    margin-right: 5px;
}

button {
    padding: 8px 14px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

button.delete {
    background: crimson;
    color: white;
    border: none;
}
