.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;

    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);

    z-index: 99;
}