body {
  margin: 0;
}

.headerStuff {
  background-color: rgba(58, 59, 60, 0.8);
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: 12%;
}

.copierLogo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  display: inline-block;
  transform: translate(10px, 3px);
}

.copierLogo img {
  display: block;
  width: 95px;
  height: auto;
}

.loginButton {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  display: inline-block;
  transform: translate(-10px, 0px);
}

.loginButton img {
  display: block;
  width: 75px;
  height: auto;
}

.signUpButton {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  display: inline-block;
  transform: translate(-125px, 0px);
}

.signUpButton img {
  display: block;
  width: 75px;
  height: auto;
}

.aboutUsButton {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  display: inline-block;
  transform: translate(-250px, 0px);
}

.aboutUsButton img {
  display: block;
  width: 110px;
  height: auto;
}

h1 {
  text-align: center;
  color: whitesmoke;
  font-family: "monospace";
  font-size: 100px;
  position: relative;
  margin-top: 0;
}
