name: Initilize Files Onto Virtual Private Server

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Setup SSH Key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519

          echo -e "Host *\n\tStrictHostKeyChecking no\n" > ~/.ssh/config
          
      - name: Upload files
        run: |
          ssh ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} "
            rm -rf /var/www/contact_manager && \
            git clone ${{ github.server_url }}/${{ github.repository }}.git /var/www/contact_manager
          "